.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  overflow-y: scroll;


}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.hobbies {
  margin-top: .5rem;
  height: 50px;
  overflow-y: scroll;
}
