<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ card.firstName }} {{ card.lastName }}</mat-card-title>
    <mat-card-subtitle>Date of birth: {{ card.dateOfBirth | date: 'dd.MM.yyyy' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>Framework: {{ card.framework | titlecase }}</mat-card-subtitle>
    <mat-card-subtitle>Framework version: {{ card.frameworkVersion }}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{ card.email }}</mat-card-subtitle>
  </mat-card-content>
  <mat-label>Hobbies:</mat-label>
  <mat-card-content class="hobbies">
    <div *ngFor="let hobby of card.hobby" style="margin-left: 10px">
      <mat-card-subtitle>Hobby name - {{ hobby.name | titlecase }}</mat-card-subtitle>
      <mat-card-subtitle>Duration - {{ hobby.duration }}</mat-card-subtitle>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="removeEmployer(card.id)">Remove</button>
    <button mat-button>Some Button</button>
  </mat-card-actions>
</mat-card>
